.bUQFLF .highlight {
    position: relative;
    z-index: 100;
}
h1>div, h2>div, h3>div, h4>div, h5>div {
    margin-right: 1rem;
}
.bUQFLF h1 {
    font-weight: 400;
}
/* div, footer, h3, h4, li, p {
    font-family: Muli;
    fix?
    
} */

.dcyapr {
    display: grid;
    grid-template-columns: 3fr 2fr;
    
}
.dcyapr h1 {
    font-size: 4rem;
    margin: 0px 0px 1rem;
}
.dcyapr {
    position: relative;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-flow: column;
    margin-bottom: clamp(50px, 20vh, 120px);
}
.pjname h1 {
    font-size: 4rem;
    margin: 0px 0px 1rem;
}
* {
    box-sizing: inherit;
}

.dcyapr p {
    font-size: 1.3rem;
    font-weight: 400;
}

.bqPGIV {
    font-family: Muli;
    margin: 0px 0px 1rem;
    padding: 0px;
    letter-spacing: 0.1rem;
}
.ijglZJ {
    animation: 1s ease 0s 1 normal none running iHtkXv;
}
h1, h2, h3, h4, h5 {
    display: flex;
    flex-wrap: wrap;
    font-weight: 900;
}

.bPXgTb {
    max-width: 1100px;
    margin: auto;
    background-color: #f0f0f0;
    /* color: rgb(18, 30, 39); */
    padding: 1.2rem 2rem;
}
.bttn{
    margin-top: 35px;
    margin-bottom: 25px;
    background:#D65A31;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    top: 0px;
    left: 0px;
    padding: 1rem 2.5rem 1.1rem;
    z-index: 100;
    border: 2px solid rgb(18, 30, 39);
    transition: transform 0.2s ease-in-out 0s;
    font-weight: bold;
    
    
}
.containbutton{
    justify-content: center;  
    display: flex;  
    
}
.projbttn{
     
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
    background:#D65A31;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    top: 0px;
    left: 0px;
    padding: 1rem 2.5rem 1.1rem;
    z-index: 100;
    
    font-weight: bold;
    
    
}
h1 {
    margin-left: 0;
    margin-right: 0;
    /* margin-top: 0; */
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.75rem;
    color: inherit;
    font-family: Montserrat,sans-serif;
    font-weight: 900;
    text-rendering: optimizeLegibility;
    font-size: 2.5rem;
    line-height: 1.1;
}


element.style {
    grid-area: top / top / top / top;
}

.pjname {
    grid-area: title / title / title / title;
}
.prjpar {
    grid-area: text / text / text / text;
}

.kLicmg .imageFluidContainer {
    max-width: 500px;
    border-radius: 40px;
    transition: transform 0.3s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s;
}
.bUQFLF li {
    list-style: none;
}
.fIXXpZ li {
    list-style: none;
    background: rgb(18, 30, 39);
    color: rgb(255, 255, 255);
    padding: 0.25rem 0.7rem;
    margin: 0px 0.5rem 0rem 0px;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.bUQFLF ul {
    display: flex;
    -webkit-box-pack: start;
    /* justify-content: flex-start; */
    margin: 0px;
}
.fIXXpZ {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    grid-area: tags / tags / tags / tags;
    flex-wrap: wrap;
    /* white-space: nowrap; */
}

.dcyapr p {
    font-size: 1.3rem;
    font-weight: 400;
}

.highlight{
    color: #D65A31;
}


.pjname {
    font-family: Muli;
    padding: 0px;
    letter-spacing: 0.1rem;
    font-size: 4rem;
    margin: 0px 0px 0rem;
    letter-spacing: 0.1rem;
}
.imageFluidContainer {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s;
    border-radius: 20px;
}

/* image size */
/* .imageFluidContainer {
    max-width: 500px;
    border-radius: 40px;
    transition: transform 0.3s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s;
}

.imageFluidContainer {
    position: relative;
    overflow: hidden;
}
.imageFluidContainer {
   grid-area: image / image / image / image;
}


@media only screen and (min-width: 1024px){
    .dcyapr {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-areas:
        "top top"
        "title image"
        "tags image"
        "button image"
        "text image";
    }
}
.dcyapr {
    position: relative;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-flow: column;
    margin-bottom: clamp(50px, 20vh, 120px);
}  */
