.status-X-icon{

  color: red;
  width: 15%;
}
.status-Check-icon{
  
  width: 15%;
  color:green;
}
.project_details{
  justify-content: center;
  align-items: center;
}

.project {
    width: 100%;
    
    height: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  /* this  project detail*/
  .column {
    
    /* column-width: 200px; */
    float: left;
    width: 50%;
    /* padding-right:10px;
    margin-right: 10; */
    /* column-count: 3;
    column-width: 50px; */
    
  }
  .project_details:after{
    padding: 25px;
    content: "";
    display: table;
    clear: both;
  }
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  /* end */

 

  .project h1 {
    margin-top: 50px;
    color: #3e497a;
    font-size: 35px;
  }
  .project img {
    width: 700px;
    border-radius: 10px;
  }
  
  .project p {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    font-size: 20px;
    color: #3e497a;
    max-width: 1004px;
  }
  .project p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  
  